body{
    background-color: dodgerblue;
    
}

.cor{
    text-align: center;
    width: 500px;
    height: 500px;
}

img{
    margin: auto; 
    display: block;
}

.um{
    text-align: center  ;
    background-color: red;
    font-style: inherit;
}


